@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
@apply font-bold py-2 px-4 border-2 border-indigo-500 rounded-full;
}
.btn-blue {
@apply bg-blue-500 border-blue-500 text-white;
}

.btn-pos {
@apply border-green-500 bg-green-500 text-white;
}

.btn-neg {
@apply border-red-500 bg-red-500 text-white;
}

.btn-blue:hover {
@apply bg-blue-700;
}

.text-color-main {
color: black;
}

.bg-color-main {
    background-color: white;
}
.bg-color-head {
    background-color: black;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    @apply text-white bg-gray-700 hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
}
